
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inconsolata&family=Jost:ital,wght@0,200;0,400;0,600;1,300&family=Libre+Baskerville:wght@700&family=Raleway:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
} 
        h1 {
            color: #333;
        }

        button {
            padding: 10px 20px;
            background-color: #092b4e;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        p {
            font-size: 18px;
        }

